.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 520px;
  margin: auto;
  box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.profile:hover,
.profile:focus {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.71);
}

.description {
  padding: 10px 0 0;
  color: rgb(98, 98, 100);
}

.avatar {
  display: block;
  border-radius: 50%;
}

.name {
  font-size: larger;
  font-weight: 800;
  color: black;
  display: block;
  text-align: center;
}
.name:hover,
.name:focus {
  color: #000000;
}

.tag {
  display: block;
  text-align: center;
}
.tag:hover,
.tag:focus {
  color: #000000;
}

.location {
  display: block;
  text-align: center;
}
.location:hover,
.location:focus {
  color: #000000;
}

.stats {
  font-weight: 500;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: inherit;
  color: rgb(76, 76, 95);
  background-color: rgb(203, 200, 207);

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.stats > li {
  border: white solid 1px;
  line-height: 0.5em;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.stats > li:first-child {
  border-bottom-left-radius: 5px;
}

.stats > li:last-child {
  border-bottom-right-radius: 5px;
}

.stats > li:hover,
.stats > li:focus {
  color: white;
  background-color: rgb(59, 50, 73);
}

.label {
  margin-right: 2px;
}

.quantity:not(:last-child) {
  margin-right: 5px;
}
